<html>
  <head>
    <title>Refresh API</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
  	<div style="padding: 1%;">
      <p class="font-weight-bold"><u>Rafraîchir API MRAe :</u></p>
  		<form method="POST" action="/success_kk">
  			<input type="submit" class="btn btn-info" value="cas par cas 2018">
		  </form>
      <form method="POST" action="/success_a">
        <input type="submit" class="btn btn-secondary" value="avis 2018">
      </form>
  	</div>
  </body>
</html>
